In [ ]:
# 백준 1712번: 손익분기점
# https://www.acmicpc.net/problem/1712

In [ ]:
A, B, C = map(int, input().split())
count = -1

for i in range(1, 2100000001):
     revenue = C * i
     cost = A + (B * i)
     if revenue < cost:
        count = i + 1
     if revenue >= cost:
        count = i + 1
        break
print(count)

런타임 에러.
손익분기점을 넘기려면 조건이 뭘까?... 다른 조건.

In [ ]:
# https://ooyoung.tistory.com/80

a,b,c = map(int,input().split())

if b >= c:  # 가변비용이 노트북 가격보다 같거나 크면
    print(-1)
else:
    print(a//(c-b)+1)

In [ ]:
# 백준 2292번: 벌집
# https://www.acmicpc.net/problem/2292

In [ ]:
# https://ooyoung.tistory.com/82
n = int(input())

nums_pileup = 1  # 벌집의 개수, 1개부터 시작
cnt = 1
while n > nums_pileup :
    nums_pileup += 6 * cnt  # 벌집이 6의 배수로 증가
    cnt += 1  # 반복문을 반복하는 횟수
print(cnt)

In [ ]:
# 백준 1193번: 분수찾기
# https://www.acmicpc.net/problem/1193

In [ ]:
N = int(input())

In [ ]:
# https://deokkk9.tistory.com/11
X=int(input())

line=1
while X>line:
    X-=line
    line+=1
    
if line%2==0:
    a=X
    b=line-X+1
else:
    a=line-X+1
    b=X
    
print(a, '/', b, sep='')

In [ ]:
# 백준 2869번: 달팽이는 올라가고 싶다
# https://www.acmicpc.net/problem/2869

In [ ]:
A, B, V = map(int, input().split())
high = 0
count = 0

for i in range(int(V/(A-B))):
    high += A
    count += 0.5
    if high < V :
        high -= B
        count += 0.5
    else:
        print(round(count))
        break

시간 초과.

In [ ]:
A, B, V = map(int, input().split())
print(round(V / (A-B)))

5 1 6
2

그냥 해봄.

In [ ]:
import math

A, B, V = map(int, input().split())
high = 0
count = 0

for i in range(int(V/(A-B))):
    high += A
    count += 0.5
    if high < V :
        high -= B
        count += 0.5
    else:
        print(math.floor(count))
        break

In [ ]:
import math

A, B, V = map(int, input().split())
print(math.floor(V / (A-B)))

100 99 1000000000
1000000000

In [ ]:
# 출처 : https://god-gil.tistory.com/39

A, B, V = map(int, input().split())
 
high = V - A #남은 높이
if high % (A-B) == 0: #나눠떨어지면, 나눗셈으로 계산이 된다
    first = int(high/(A-B))
else:
    first = int(high/(A-B) + 1) #나눠떨어지지 않으면, 다음날 각이니까 +1
print(first + 1) # 결국 아침만 계산해야함. 하루 다음 낮에 성공이면 1.5가 아니라 2임.

In [ ]:
# 백준 10250번: ACM 호텔
# https://www.acmicpc.net/problem/10250

In [ ]:
for t in range(int(input())):
    H, W, N = map(int, input().split())
    lst = []
    lst += [[i, j] for i in range(1, H+1) for j in range(1, W+1)]
    print(lst)
    num = lst[N-1][0] * 100 + lst[N-1][1]
    print(num)

In [3]:
for t in range(int(input())):
    H, W, N = map(int, input().split())
    lst = []
    lst += [[i, j] for i in range(1, H+1) for j in range(1, W+1)]
    num = lst[N-1][0] * 100 + lst[N-1][1]
    print(num)

2
6 12 10
110
30 50 72
222

순서가 101 201 301 401 501 이렇게 가야함.
아래 코드에서 내가 원하는 순서로 잘 나옴.

In [ ]:
for t in range(int(input())):
    H, W, N = map(int, input().split())
    lst = []
    for w in range(1, W+1):
        for h in range(1, H+1):
            lst += [[h, w]] # list 대괄호로 묶어줌
    print(lst)

In [ ]:
# 2
#6 12 10
# [[1, 1], [2, 1], [3, 1], [4, 1], [5, 1], [6, 1], [1, 2], [2, 2], [3, 2], [4, 2], [5, 2], [6, 2], [1, 3], [2, 3], [3, 3], 생략

In [7]:
# 정답
for t in range(int(input())):
    H, W, N = map(int, input().split())
    lst = []
    for w in range(1, W+1):
        for h in range(1, H+1):
            lst += [[h, w]] # list 대괄호로 묶어줌
    num = lst[N-1][0] * 100 + lst[N-1][1]
    print(num)

2
6 12 10
402
30 50 72
1203

In [ ]:
# 백준 2775번: 부녀회장이 될테야
# https://www.acmicpc.net/problem/2775

'''
문제를 이해하는거 자체가... 힘들었다. 요약하자면,

1.i호에는 i명이 산다. => 즉, 1~3호까지라면 1+2+3 = 6이 되는 것이다.
2. “a층의 b호에 살려면 자신의 아래(a-1)층의 1호부터 
b호까지 사람들의 수의 합만큼 사람들을 데려와 살아야 한다” 
는 계약 조항을 꼭 지키고 들어와야 한다.
3. 첫번째 예시 1층 3호에 몇 명이 사는지.

0층 1호엔 1명이 산다
0층 2호엔 2명이 산다
0층 3호엔 3명이 산다 -> 

1층 1호엔 1명이 산다
1층 2호엔 3명이 산다
1층 3호엔 (1~3호까지 합친 수) 6명이 산다

2층 1호엔 1명이 산다
2층 2호엔 4명이 산다
2층 3호엔 10명이 산다
'''

In [46]:
for t in range(int(input())):
    k = int(input())
    n = int(input())
    count = 0
    lst = list(range(1, 15)) # 1~14
    lst2 = [0] * 15 # 리스트를 만들어 준다
    if count < k: # k보다 count가 작은 것은 규칙에서 (a-1)층을 말하기 때문임.
        for i in range(k+1): # 0~k
            for j in range(15): # lst2에 이전 층의 합들을 넣어준다.
                lst2[j] = sum(lst[0:j+1])
                lst = lst2 # lst는 lst2 값으로 다음 순서를 대비한다.
                lst[0] = 1 # 1호는 언제나 1명이므로 정정해준다.
                count += 1          
    else:
        break
    print(lst2[n-1]+1)

2
1
3
6
2
3
10

예제는 맞았는데,
틀렸다고 나옴.
뭘 더 어떻게 해야하나.

In [47]:
# https://yoonsang-it.tistory.com/12

for i in range(int(input())):
    k = int(input())
    n = int(input()) # 여기까지는 동일
    people = [i for i in range(1, n+1)] #

    for x in range(k):
        for y in range(1, n):
            people[y] += people[y-1]
    print(people[-1]) #역으로 가장 큰 숫자 -1 = 10, -2 = 4

2
1
3
6
2
3
10

In [50]:
for i in range(int(input())):
    k = int(input())
    n = int(input()) # 여기까지는 동일
    people = [i for i in range(1, n+1)] # 3이면 1 2 3 / 4면 1 2 3 4 등...을 의미
    print(people)
    for x in range(k): # 각 층 0, 1, 2, ... 올라옴을 의미 마지막 (a-1)층까지
        for y in range(1, n): # 0번째 1은 동일
            people[y] += people[y-1]
            print(people)
    print(people[-1]) #역으로 가장 큰 숫자 -1 = 10, -2 = 4

2
1
3
[1, 2, 3]
[1, 3, 3]
[1, 3, 6]
6
2
3
[1, 2, 3]
[1, 3, 3]
[1, 3, 6]
[1, 4, 6]
[1, 4, 10]
10

In [53]:
# 위의 코드를 응용하여 만들어보기

for t in range(int(input())):
    k = int(input())
    n = int(input())
    lst = list(range(1,n+1))
    print(lst)
    for i in range(k): 
        for j in range(1,n): 
            lst[j] += lst[j-1] 
            # 핵심은 이 코드! 복잡하게 for문을 더 사용할 필요없이 계산될 수 있다는걸
            # 생각했으면 더 좋았을 것이다
            print(lst)
    print(lst[-1])

2
1
3
[1, 2, 3]
[1, 3, 3]
[1, 3, 6]
6
2
3
[1, 2, 3]
[1, 3, 3]
[1, 3, 6]
[1, 4, 6]
[1, 4, 10]
10

In [ ]:
# 백준 2839번: 설탕 배달
# https://www.acmicpc.net/problem/2839

In [14]:
N = int(input())

#5킬로그램 봉지를 사용하면 제일 가볍겠지?

if N % 5 == 0:
    print(int(N / 5))
if N % 5 != 0 & int(N - (N//5*5) + ((N - (N//5*5)) // 3)) <= int(N/3):
    print(int(N - (N//5*5) + ((N - (N//5*5)) // 3)))
if N % 5 != 0 & int(N - (N//5*5) + ((N - (N//5*5)) // 3)) > int(N/3):
    print(int(N/3))
else:
    print(-1)

6
1
-1

경우의 수
1.   5로만 나눠떨어지는 경우
2.   3 5 둘다로 나눠떨어지는 경우
3.   3으로만 나눠떨어지는 경우
4.   5 몇봉지하고 3으로 나눠떨어지는 경우
5.   5 3으로 둘다 나눠떨어지지 않는 경우

3, 4번을 같이 조건으로 만듦.

In [22]:
N = int(input())

if N % 5 == 0 & N % 3 == 0: # 3 5 둘다로 나눠떨어지는 경우
    print(int(N / 5))
if N % 5 == 0 & N % 3 != 0: # 5로만 나눠떨어지는 경우
    print(int(N / 5))
if N % 5 != 0 & N % 3 == 0: # 3으로만 나눠떨어지는 경우
    if int(N - (N//5*5) + ((N - (N//5*5)) // 3)) <= int(N/3):
        print(int(N - (N//5*5) + ((N - (N//5*5)) // 3)))
        # 5키로그램 봉지를 먼저 빼고 3키로그램을 빼본다
        # 봉지수가 적어야 하므로 더 적은 쪽을 print!
    if int(N - (N//5*5) + ((N - (N//5*5)) // 3)) > int(N/3):
        print(int(N/3))
if N % 5 != 0 & N % 3 != 0:
    if (int(N - (N//5*5) + ((N - (N//5*5)) // 3)) * 5 == N) or (int(N - (N//5*5) + ((N - (N//5*5)) // 3)) * 3 == N):
        print(int(N - (N//5*5) + ((N - (N//5*5)) // 3)))
    else:
        print(-1)

11
1

In [ ]:
# 출처 : https://deep-learning-study.tistory.com/628

n = int(input()) # 설탕

result = 0 # 봉지 수

while n >= 0:
    if n % 5 == 0: # 5로 나눈 나머지가 0인 경우
        result += n // 5 # 5로 나눈 몫 추력
        print(result)
        break
    n -= 3 # 설탕이 5의 배수가 될때까지 반복
    result += 1 # 봉지 추가
else:
    print(-1) # while문이 거짓이 되면 -1 출력

In [ ]:
# 백준 10757번: 큰 수 A + B
# https://www.acmicpc.net/problem/10757

In [ ]:
print(sum(map(int, input().split())))

9223372036854775807 9223372036854775808
18446744073709551615